# Copyright (C) Pointon Software - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Ben Ziv <pointonsoftware@gmail.com>, August 2020

# Configuration
language: cpp
compiler: gcc
dist: trusty

#env:
  #global:
    # Misc, we will use this once we setup unit tests
    #- RUN_TESTS=true
    #- COVERAGE=false

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install cmake
  - sudo apt-get install cppcheck
  - sudo apt-get install -qq g++-7
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90

#stages:
  #- Static code analysis
  #- Compile
  #- unittest
  #- Profile

jobs:
  include:
    - stage  : Static code analysis
      name   : CppLint
      script : >-
               travis_retry wget --quiet -O - https://raw.githubusercontent.com/cpplint/cpplint/master/cpplint.py |
               scripts/run_cpplint.sh

    - name   : CppCheck
      script : cppcheck --quiet --error-exitcode=1 --enable=warning,performance,information,style --suppress=missingIncludeSystem .

    - stage  : Compile
      name   : Build
      script : ci/ci_build.sh

    - stage  : Profile
      name   : gprof
      script : ci/ci_profiling.sh

after_success:
  - echo "Successful!"

after_failure:
  - echo "Failed!"

# Currently not used
#deploy:
#  github-token: $GITHUB_TOKEN